@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Noticia+Text&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Coda', cursive;
    text-align: center;
    font-weight: 100!important;
    color: white;
    background-color: #333;
    padding: 20px;
    /* border-bottom: 15px solid #f7f7f7; */
}


p {
    font-family: 'Notitia', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    text-align: justify;
    line-height: 1.3rem;
}

/***************************
    *  HEADER
***************************/
.sitename {
    font-family: 'Coda', cursive;
    color: brown!important;
    font-size: 1.3rem;
    font-weight: 100!important;
    color: white;
}
.sitename:hover {
    color: #ccc!important;
}

/***************************
 *  HOME PAGE
 ***************************/
#now-playing-movies,
#popular-movies,
#latest-series,
#popular-series,
#upcoming-movies, 
#top-rated-series,
#similar-movies,
#similar-series {
    display: inline-block;
    vertical-align: top;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory; 
    padding: 10px;
}


.hero {
    background-image: url("/public/img/cinema.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
}

.hero-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    color:brown;
    font-size: 3rem;
    margin-bottom: 8rem;
    background: transparent;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.hero-text {
    font-size: 1rem;
}

.info {
    background-color: #333;
    padding: 20px;
    margin: 0;
    color: #fff;
}

/**********************banner*************************/
.banner {
    overflow: hidden;
}

#bannerText {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/****************class pour chaque item****************/
.item {
    min-width: 270px;
    min-height: 400px;
    max-width: 270px;
    max-height: 400px;
    object-fit: fill;
    object-position: center center; 
    margin: 1rem;
    scroll-snap-align: center;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    pointer-events: auto;
    position: relative; 
}

.item:hover {
    transform: scale(1.05);
    z-index: 1;
}

.item:hover .item-overlay {
    opacity: .8;
}

/* h2.item-title {
    font-size: 1rem!important;
    color: brown;
    z-index: 99;
    position: relative;
    text-align: center;
}

.item:hover h2.item-title  {
    color: #fff;
    background-color: rgbe(0, 0, 0, 0.8);
} */

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.item:hover img {
    transform: scale(1.1);
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
    pointer-events: none;
}

.item p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #FFF;
    margin: 0;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    line-height: 1.3;
    padding-bottom: 40px;
}

.grid-items {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem; */

    /* pour une grille de 4 films */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

/***************select****************/
#genre-container {
    margin: 50px;
}
#genre-container a {
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: none!important;
    margin: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    background: #333333;
}

#genre-container a:hover {
    background: #5f6367;
}

.list-inline-item.active {
    background: #75777a!important;
    font-weight: bold!important;
}
.active {
    color: rgb(165, 42, 42);
}

/**************Pagination****************/
.pagination-btn {
    color: #fff;
    border: none!important;
    background: transparent;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.pagination-btn.active {
    background-color: #212529;
    color: brown;
    border: none!important;
}

.pagination-numbers{
    color: #fff;
    border: none!important;
}

/***************************
    *  PAGE DETAIL
***************************/
.detail img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 650px;
    padding: 10px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.subject {
    font-family: 'arial', sans-serif;
    font-size: 1rem;
    color: brown!important;
    padding-right: 20px;
}

.seasonImage {
    width: 100%;
    height: 100%;
    max-width: 150px!important;
    max-height: 200px!important;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}
/***************************
    *  PAGE FILMS & SERIES
***************************/
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: brown!important;
    background: #000;
    text-align: center;
    margin: 0;
}

.aura {
    background: url(/public/img/aura.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: contain;
    margin: 0;
    opacity: 0.8;
}

/***************************
    *  FORMULAIRES
***************************/
body#register, body#login {
    background: url(/public/img/abstract.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    /* opacity: 0.8; */
}